// Contact Form
.contact-form {
  .hide {
    @include hide-visually;
  }

  z-index: 300;
  text-align: center;

  h2 {
    font-size: 1.5rem;
    margin-top: $spacer/2;
    color: $black;
  }

  p {
    font-size: .8rem;
    margin-bottom: 0;
    margin-top: 12px;
    line-height: 1.4;
    color: $black;
  }

  .third {
    font-size: $third;
  }

.form-wrap {
  margin-bottom: $spacer/2;
}
}

//Comment form
.subscribe {
   padding: 11px;
   width: 100%;
  border: tint($light-gray, 10%) 1px solid;
   font-size: .8rem;
   line-height: 1.3;
  transition: border-color 0.15s linear;
}

.subscribe:focus {
  border-color: shade($light-gray, 30%);
}

//Includes comment form submit button and contact form button
button {
  @include margin(null auto);
   padding: 5px 15px;
   text-transform: uppercase;
   letter-spacing: 1px;
  opacity: .9;
}


@include media(700) {
  .contact-form {
    .hide {
      @include hide-visually("unhide");
    }

    .form-wrap {
      @include padding(null $spacer);
    }

    h2 {
      margin-bottom: $spacer/1.5;
      font-size: 1.9rem;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: $spacer/2;
      padding: 0 $spacer*1.5 !important;
    }
  }

  .subscribe {
     padding: 15px;
     margin-top: $spacer/2;
     font-size: 1rem;
  }

  button {
     width: 80px;
     @include padding(8px null);

  }
}


@include media(900) {
  .contact-form {

    h2 {
      font-size: 2.1rem;
      margin-bottom: 0;
    }
  }
}
