.post-content {
  h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-top: $spacer;
  }

  h3 {
    font-size: 1.2rem;
    @include margin($spacer null $spacer/3 null);
    font-weight: 300;
  }

  p {
    font-size: $secondary;
    margin-bottom: $spacer/2;
  }

  hr {
  margin: $spacer 10px;
  border-bottom: 1px solid $post-color;
  box-shadow: 0 1px 3px rgba(#000, .1);

  }

  blockquote {
    padding-left: $spacer/2;
    border-left: 8px solid $link-color;
    @include margin($spacer/2 null $spacer*1.2 null);

    p {
      font-size: 1.2rem;
      font-style: italic;
      color: $post-color;
    }
  }

  .bottom-post {
    margin-top: $spacer;
  }
}

@include media(700) {

  .post-content {
  //   h2 {
  //     font-size: 1.8rem;
  //   }

  //   p {
  //     font-size: $font-size;
  //   }
  //    hr {
  //      margin: $spacer*1.5 20px;
  //    }
  // }

  // .links {
  // flex-direction: row;
  // justify-content: space-evenly;
  // align-items: flex-start;
  // }

}
}

@include media(900) {

  .post-content {
  //   h2 {
  //     font-size: 2rem;
  //   }

  //   p {
  //     font-size: $font-size*1.08;
  //   }
  // }

  // .links a {
  //   font-size: $secondary*1.08;
  //   margin-bottom: 5px;
   //}

   
}
}




