// =======================
// Site
// =======================

.wrapper,
main,
.header-home,
article,
footer {
    @include clearfix;
}

//Post pages
// .outer-header {
// 	background-color: rgb(247, 223, 49);
// }
.loaded {
	height: 200px;
	width: 100%;
}

.cam-viewport {
	height: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center center;
	max-width: 900px;
	margin: 0 auto;
}

.title {
	color: #fff;
	font-size: 2.3rem;
	text-align: center;
	line-height: 1.2;
}

@include media(700) {
	.title {
		font-size: 2.8rem;
	}
}

@include media(900) {
	.title {
		font-size: 3.1rem;
	}
}


main {
	max-width: 900px;
	margin: $spacer*1.5 auto $spacer*2 auto;
		padding: 0 3%;

		img {
			width: 15%;
			margin-bottom: $spacer/3;
		}

		button {
			margin-bottom: $spacer/2;
		}
		
}

footer {
	background-color: $black;
	text-align: center;
	@include padding($spacer/2 null);
	p {
		font-size: $third;
		margin-bottom: 0;
		color: $white;
	}
}

@include media(700) {
	.header-home {

		svg {
			width: 15%;
		}

		h1 {
			//font-size: 1.9rem;
		}
	}
}

@include media(900) {
	.header-home {

		svg {
			width: 12%;
		}

		h1 {
			//font-size: 2.2rem;
		}
	}
	
	main {
		padding: 0;
	}
}