// =======================
// Site
// =======================

.wrapper,
main,
header,
article,
footer {
    @include clearfix;
}

.header {
	text-align: center;
	@include padding($spacer null);
	max-width: 900px;
	margin: 0 auto;

	svg {
		width: 20%;
		margin-top: 12px;
		fill: $post-color;

		&:hover {
			fill: $post-color;
		}
	}
	h1 {
		font-size: 1.5rem;
		margin-top: 12px;
	}
}

main {
	max-width: 800px;
	margin: $spacer*1.5 auto $spacer*2 auto;
		padding: 0 3%;

		img {
			width: 20%;
			margin-bottom: $spacer/3;
		}

		h1 {
			font-size: 2rem;
			margin-bottom: $spacer/2;
		}

		button {
			margin-bottom: $spacer/2;
		}
		
}

footer {
	background-color: $black;
	text-align: center;
	@include padding($spacer/2 null);
	p {
		font-size: $third;
		margin-bottom: 0;
		color: $white;
	}
}

@include media(700) {
	.header {

		svg {
			width: 15%;
		}

		h1 {
			font-size: 1.9rem;
		}
	}
}

@include media(900) {
	.header {

		svg {
			width: 12%;
		}

		h1 {
			font-size: 2.2rem;
		}
	}

	main {
		padding: 0;
	}
}