// =======================
// Variables
// =======================

// TYPOGRAPHY ============================
$font: "Raleway", sans-serif;
$heading-font: $font;
$alt-font: "Ubuntu Condensed", sans-serif;
$code-font: "Source Code Pro", monospace;
$icon-font: "";

$font-size: 1.2rem;

$lead: $font-size*1.134;
$secondary: $font-size/1.125;
$third: $font-size/1.255;

// SIZE ==================================
$radius: 5px;
//set a consistant margin
$spacer: 2rem;

// COLOR =================================
$black: #1a1818;
$white:#FFF;
$dark-gray: #464747;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$font-color: $dark-gray;
$link-color: #99db2e;//green
$hover-color: lighten($link-color, 35%);
$nav-color: $link-color;
// Background Colors
$background: $nav-color;//#161EAD
$light-background: lighten($background, 45%);

// Form Colors
$input-background: #fdfdfd;
$button-background: $link-color;

$error-color: #ba221d;
$alert-color: #BD912F;
$success-color: #3f913a;

// ELEMENTS ===============================
// Border
$border: 1px solid $medium-gray;



